body {
  text-align: center;
}

.board {
  background: #DDD;
  display: inline-block;
  width: 50%;
  height: 80vh;
  border: dashed 1px #AAA;
}

.board .block {
  background: red;
  padding: 0.2rem;
  color: white;
  display: inline-block;
}